@font-face {
  font-family: 'mpro';
  src: url('/ultra/fonts/MyriadProRegular.eot');
  src: url('/ultra/fonts/MyriadProRegular.eot?#iefix') format('embedded-opentype'), url('/ultra/fonts/MyriadProRegular.woff2') format('woff2'), url('/ultra/fonts/MyriadProRegular.woff') format('woff'), url('/ultra/fonts/MyriadProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'condmpro';
  src: url('/ultra/fonts/MyriadPro-Cond.eot');
  src: url('/ultra/fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'), url('/ultra/fonts/MyriadPro-Cond.woff2') format('woff2'), url('/ultra/fonts/MyriadPro-Cond.woff') format('woff'), url('/ultra/fonts/MyriadPro-Cond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team. */
/* ==========================================================================
 * Base styles: opinionated defaults
 * ========================================================================== */
html, button, input, select, textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design. */
\::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440 */
audio, canvas, img, video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles. */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas. */
textarea {
  resize: vertical; }

/* ==========================================================================
 * Browse Happy prompt
 * ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
 * Author's custom styles
 * ========================================================================== */
body {
  text-align: center;
  font-family: 'mpro', sans-serif;
  font-size: 14px;
  color: #565656; }

a {
  outline: none !important; }

h1, h2, h3 {
  font-weight: normal; }

h1 {
  font-family: 'condmpro', sans-serif;
  font-size: 30px;
  line-height: 34px;
  margin: 0 0 10px 0;
  padding: 0; }

h2 {
  font-family: 'condmpro', sans-serif;
  font-size: 25px;
  line-height: 28px;
  margin: 0 0 25px 0;
  padding: 0; }

p + h2 {
  margin-top: 20px; }

h3 {
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 23px 0;
  padding: 0; }

p + h3 {
  margin-top: 20px; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0; }

.title {
  font-family: 'condmpro', sans-serif !important; }

.contol_slides {
  position: fixed;
  display: table;
  z-index: 2000;
  top: 0;
  right: 0;
  height: 100%;
  width: 30px; }
  .contol_slides ul {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle; }
    .contol_slides ul li {
      width: 12px;
      height: 12px;
      margin: 4px auto; }
      .contol_slides ul li a {
        background: #B9C1C5;
        display: block;
        width: 12px;
        height: 12px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px; }
        .contol_slides ul li a:hover {
          background: #75868F; }
    .contol_slides ul .active a {
      background: #75868F; }

.header_wrapper {
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;
  width: 100%;
  white-space: 1000px;
  background: #003D7B; }
  .header_wrapper .menu_wrapper {
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 3000;
    height: 300px;
    width: 100%;
    overflow: hidden;
    display: none;
    background-color: rgba(255, 255, 255, 0.9); }
    .header_wrapper .menu_wrapper .menu {
      max-width: 1280px;
      min-width: 1000px;
      margin: 20px auto 0 auto;
      padding: 0; }
      .header_wrapper .menu_wrapper .menu li {
        margin: 0;
        padding: 0;
        width: 23%;
        height: 120px;
        display: block;
        float: left;
        margin: 0 2.5% 1% 0; }
        .header_wrapper .menu_wrapper .menu li:nth-child(4n) {
          margin-right: 0; }
        .header_wrapper .menu_wrapper .menu li a {
          display: block;
          width: 100%;
          height: 120px;
          background-position: center top; }
        .header_wrapper .menu_wrapper .menu li .item_01 {
          background-image: url(/ultra/img/m01.png); }
        .header_wrapper .menu_wrapper .menu li .item_02 {
          background-image: url(/ultra/img/m02.png); }
        .header_wrapper .menu_wrapper .menu li .item_03 {
          background-image: url(/ultra/img/m03.png); }
        .header_wrapper .menu_wrapper .menu li .item_04 {
          background-image: url(/ultra/img/m04.png); }
        .header_wrapper .menu_wrapper .menu li .item_05 {
          background-image: url(/ultra/img/m05.png); }
        .header_wrapper .menu_wrapper .menu li .item_06 {
          background-image: url(/ultra/img/m06.png); }
        .header_wrapper .menu_wrapper .menu li .item_07 {
          background-image: url(/ultra/img/m07.png); }
        .header_wrapper .menu_wrapper .menu li .item_08 {
          background-image: url(/ultra/img/m08.png); }
  .header_wrapper header {
    position: relative;
    width: 100%;
    max-width: 1280px;
    min-width: 980px;
    height: 64px;
    margin: 0 auto; }
    .header_wrapper header .menu_btn {
      -webkit-transition: background 0.3s ease-out 0s;
      -moz-transition: background 0.3s ease-out 0s;
      -o-transition: background 0.3s ease-out 0s;
      transition: background 0.3s ease-out 0s;
      position: absolute;
      top: 24px;
      left: 270px;
      background-image: url(/ultra/img/menu.png);
      background-position: 0 0;
      background-repeat: no-repeat;
      height: 15px;
      width: 15px;
      cursor: pointer; }
      .header_wrapper header .menu_btn.close {
        background-position: 0 -15px; }
    .header_wrapper header .logo {
      position: absolute;
      top: 8px;
      left: 10px;
      display: block;
      width: 211px;
      height: 48px;
      background: url(/ultra/img/logo.png) center center no-repeat; }
    .header_wrapper header .btn_block {
      position: absolute;
      top: 17px;
      right: 10px;
      width: 700px; }
      .header_wrapper header .btn_block .btn {
        float: right;
        margin: 0 0 0 8px; }
    .header_wrapper header .btn {
      display: block;
      color: #ffffff;
      font-size: 13px;
      font-weight: 400;
      line-height: 14px;
      height: 30px;
      line-height: 30px;
      background-color: #4C77A3;
      background-repeat: no-repeat;
      padding: 0 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      text-decoration: none; }
    .header_wrapper header .btn.buy {
      background-image: url(/ultra/img/header_btn_bkg.png);
      background-position: 15px 7px;
      padding: 0 15px 0 45px; }

#fullpage {
  z-index: 1000; }

.section {
  position: relative;
  z-index: 1000;
  min-width: 1000px;
  overflow: hidden; }
  .section .content {
    width: 100%;
    max-width: 1280px;
    min-width: 980px;
    text-align: left;
    margin: 0 auto;
    padding: 64px 10px 0 10px; }
    .section .content p {
      font-size: 24px;
      line-height: 28px; }

.more, .close_modal {
  cursor: pointer;
  display: block; }

.more {
  position: relative;
  top: 0;
  width: 67px;
  height: 38px;
  background-image: url(/ultra/img/more.png);
  background-position: 0 0;
  margin: 30px 0 0 0;
  -webkit-transition: top 0.2s ease-out 0s;
  -moz-transition: top 0.2s ease-out 0s;
  -o-transition: top 0.2s ease-out 0s;
  transition: top 0.2s ease-out 0s; }

.more:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 67px;
  height: 38px;
  background-image: url(/ultra/img/more.png);
  background-position: 0 -38px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out 0s;
  -moz-transition: opacity 0.2s ease-out 0s;
  -o-transition: opacity 0.2s ease-out 0s;
  transition: opacity 0.2s ease-out 0s; }

.more:hover {
  top: 3px;
  background-image: none !important; }
  .more:hover:before {
    opacity: 1; }

.text_align__center {
  text-align: center !important; }

.text_align__right {
  text-align: right !important; }

.font_bold {
  font-weight: bold; }

.close_modal {
  position: relative;
  top: 0;
  width: 67px;
  height: 38px;
  background-image: url(/ultra/img/close_w.png);
  margin: 30px auto 0 auto;
  -webkit-transition: top 0.2s ease-out 0s;
  -moz-transition: top 0.2s ease-out 0s;
  -o-transition: top 0.2s ease-out 0s;
  transition: top 0.2s ease-out 0s; }

.close_modal:hover {
  top: 3px; }
  .close_modal:hover:before {
    opacity: 1; }

.close_modal:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 67px;
  height: 38px;
  background-image: url(/ultra/img/close_w.png);
  background-position: 0 -38px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out 0s;
  -moz-transition: opacity 0.2s ease-out 0s;
  -o-transition: opacity 0.2s ease-out 0s;
  transition: opacity 0.2s ease-out 0s; }

.section1 {
  background: url(/ultra/img/section_01_bkg.png) center center repeat; }
  .section1 .switch {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 500px;
    margin-left: -250px;
    text-align: center; }
    .section1 .switch div {
      border: 1px solid #E0E3E3;
      margin: 0;
      display: inline-block;
      padding: 0 30px;
      height: 40px;
      line-height: 40px;
      background-color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      cursor: pointer; }
    .section1 .switch div.active {
      background: #4A75A3;
      color: #ffffff; }
    .section1 .switch div:first-child {
      border-right: 0; }
  .section1 .content {
    position: relative; }
    .section1 .content .text.active {
      opacity: 1;
      width: auto;
      height: 445px !important;
      -webkit-transition: opacity 1.3s ease-out 0s;
      -moz-transition: opacity 1.3s ease-out 0s;
      -o-transition: opacity 1.3s ease-out 0s;
      transition: opacity 1.3s ease-out 0s; }
    .section1 .content .text {
      -webkit-transition: opacity 0s ease-out 0s;
      -moz-transition: opacity 0s ease-out 0s;
      -o-transition: opacity 0s ease-out 0s;
      transition: opacity 0s ease-out 0s;
      opacity: 0;
      width: 0;
      height: 0 !important;
      width: 638px; }
      .section1 .content .text .title {
        color: #2c2c2c;
        font-size: 68px;
        line-height: 70px;
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 48px; }
        .section1 .content .text .title span {
          color: #1EA6D8; }
    .section1 .content .filter_ultra, .section1 .content .filter_nabor {
      position: absolute;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
      opacity: 0;
      left: 50%;
      margin-left: 150px;
      background-position: 0 0; }
    .section1 .content .filter_ultra {
      bottom: -800px;
      width: 483px;
      height: 929px;
      /*
				width: 586px
				height: 941px */
      background-image: url(/ultra/img/s1_01a.png); }
    .section1 .content .filter_nabor {
      bottom: -500px;
      margin-left: 20px;
      width: 705px;
      height: 794px;
      /*
				width: 789px
				height: 827px */
      background-image: url(/ultra/img/s1_02a.png); }

.section1.active .text.active .filter_ultra, .section1.active .text.active .filter_nabor {
  opacity: 1;
  -webkit-transition: all 0.5s ease-out 0.4s;
  -moz-transition: all 0.5s ease-out 0.4s;
  -o-transition: all 0.5s ease-out 0.4s;
  transition: all 0.5s ease-out 0.4s; }
.section1.active .text.active .filter_ultra {
  bottom: -400px; }
.section1.active .text.active .filter_nabor {
  bottom: -300px; }

.section2.active .title, .section2.active p, .section2.active .more {
  opacity: 1; }
.section2.active .bads_wrapper li {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in 0.3s;
  -moz-transition: opacity 0.2s ease-in 0.3s;
  -o-transition: opacity 0.2s ease-in 0.3s;
  transition: opacity 0.2s ease-in 0.3s; }
  .section2.active .bads_wrapper li:hover .popup {
    display: block; }

.section2 {
  background: #EFF8FD; }
  .section2 p {
    opacity: 0;
    text-align: center;
    max-width: 990px;
    margin: 0 auto;
    color: #525355;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    -webkit-transition: opacity 1s ease-out 0.4s;
    -moz-transition: opacity 1s ease-out 0.4s;
    -o-transition: opacity 1s ease-out 0.4s;
    transition: opacity 1s ease-out 0.4s; }
  .section2 .more {
    -webkit-transition: opacity 1s ease-out 0.4s;
    -moz-transition: opacity 1s ease-out 0.4s;
    -o-transition: opacity 1s ease-out 0.4s;
    transition: opacity 1s ease-out 0.4s;
    opacity: 0;
    margin: 30px auto 0 auto !important; }
  .section2 .title {
    width: 710px;
    margin: 0 auto 75px auto;
    color: #2aaadb;
    font-size: 73px;
    line-height: 60px;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transition: opacity 1.2s ease-out 0.3s;
    -moz-transition: opacity 1.2s ease-out 0.3s;
    -o-transition: opacity 1.2s ease-out 0.3s;
    transition: opacity 1.2s ease-out 0.3s;
    opacity: 0; }
    .section2 .title span {
      display: block;
      color: #525355;
      font-size: 46px;
      font-weight: 400;
      line-height: 50px;
      margin-top: 19px;
      text-align: left; }
    .section2 .title:before {
      content: "";
      display: block;
      width: 130px;
      height: 174px;
      background-image: url(/ultra/img/s2_01.png);
      background-position: 0 0;
      background-repeat: no-repeat;
      float: left;
      margin: 0 38px 0 0; }
  .section2 .bads_wrapper {
    position: relative;
    /*
			-webkit-transition: opacity 1.1s ease-out 0.4s
			-moz-transition: opacity 1.1s ease-out 0.4s
			-o-transition: opacity 1.1s ease-out 0.4s
			transition: opacity 1.1s ease-out 0.4s */
    margin: 40px auto 0 auto;
    display: table;
    width: 910px; }
    .section2 .bads_wrapper ul {
      display: table-row; }
      .section2 .bads_wrapper ul li {
        opacity: 0;
        display: table-cell;
        text-align: center;
        width: 14.2857%; }
        .section2 .bads_wrapper ul li .pic {
          display: block;
          width: 72px;
          height: 72px;
          margin: 0 auto 5px auto;
          background-image: url(/ultra/img/s2_02.png);
          cursor: pointer; }
        .section2 .bads_wrapper ul li .popup {
          position: absolute;
          z-index: 1000;
          display: none;
          bottom: 110px;
          left: 0;
          width: 94%;
          background: #fff;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          padding: 10px 3%;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px; }
      .section2 .bads_wrapper ul .item_01 {
        -webkit-transition: opacity 0.2s ease-in 0.5s;
        -moz-transition: opacity 0.2s ease-in 0.5s;
        -o-transition: opacity 0.2s ease-in 0.5s;
        transition: opacity 0.2s ease-in 0.5s; }
        .section2 .bads_wrapper ul .item_01 .pic {
          background-position: 0 0; }
      .section2 .bads_wrapper ul .item_02 {
        -webkit-transition: opacity 0.2s ease-in 0.6s;
        -moz-transition: opacity 0.2s ease-in 0.6s;
        -o-transition: opacity 0.2s ease-in 0.6s;
        transition: opacity 0.2s ease-in 0.6s; }
        .section2 .bads_wrapper ul .item_02 .pic {
          background-position: -72px 0; }
      .section2 .bads_wrapper ul .item_03 {
        -webkit-transition: opacity 0.2s ease-in 0.7s;
        -moz-transition: opacity 0.2s ease-in 0.7s;
        -o-transition: opacity 0.2s ease-in 0.7s;
        transition: opacity 0.2s ease-in 0.7s; }
        .section2 .bads_wrapper ul .item_03 .pic {
          background-position: -144px 0; }
      .section2 .bads_wrapper ul .item_04 {
        -webkit-transition: opacity 0.2s ease-in 0.8s;
        -moz-transition: opacity 0.2s ease-in 0.8s;
        -o-transition: opacity 0.2s ease-in 0.8s;
        transition: opacity 0.2s ease-in 0.8s; }
        .section2 .bads_wrapper ul .item_04 .pic {
          background-position: -216px 0; }
      .section2 .bads_wrapper ul .item_05 {
        -webkit-transition: opacity 0.2s ease-in 0.9s;
        -moz-transition: opacity 0.2s ease-in 0.9s;
        -o-transition: opacity 0.2s ease-in 0.9s;
        transition: opacity 0.2s ease-in 0.9s; }
        .section2 .bads_wrapper ul .item_05 .pic {
          background-position: -288px 0; }
      .section2 .bads_wrapper ul .item_06 {
        -webkit-transition: opacity 0.2s ease-in 1s;
        -moz-transition: opacity 0.2s ease-in 1s;
        -o-transition: opacity 0.2s ease-in 1s;
        transition: opacity 0.2s ease-in 1s; }
        .section2 .bads_wrapper ul .item_06 .pic {
          background-position: -360px 0; }
      .section2 .bads_wrapper ul .item_07 {
        -webkit-transition: opacity 0.2s ease-in 1.1s;
        -moz-transition: opacity 0.2s ease-in 1.1s;
        -o-transition: opacity 0.2s ease-in 1.1s;
        transition: opacity 0.2s ease-in 1.1s; }
        .section2 .bads_wrapper ul .item_07 .pic {
          background-position: -432px 0; }

.section3 {
  background: #22b3f8 url(/ultra/img/s3_01.png) center center no-repeat; }
  .section3 .content {
    position: relative;
    height: 260px; }
  .section3 .text_01, .section3 .text_02 {
    color: #fff;
    position: absolute; }
  .section3 .text_01 {
    top: 310px;
    left: 50%;
    margin-left: -600px; }
  .section3 .text_02 {
    top: 0;
    left: 50%;
    margin-left: 130px;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 46px; }
  .section3 .more {
    background-image: url(/ultra/img/more_w.png);
    width: 67px;
    height: 38px; }
    .section3 .more:before {
      width: 67px; }

.section4 {
  background: #E4EAF1; }
  .section4 .col_left {
    width: 48%;
    float: left;
    text-align: right;
    text-align: right;
    margin-right: 4%; }
    .section4 .col_left .pic {
      float: right;
      background-image: url(/ultra/img/s4_02.jpg);
      width: 445px;
      height: 715px;
      opacity: 0; }
  .section4 .col_right {
    margin: 110px 0 0 0;
    width: 48%;
    float: left;
    text-align: left !important; }
    .section4 .col_right .title {
      color: #2c2c2c;
      font-size: 46px;
      font-weight: 400;
      line-height: 50px;
      text-transform: uppercase;
      margin: 0 0 20px 0; }
      .section4 .col_right .title span {
        color: #1EA6D8; }
    .section4 .col_right p {
      color: #2c2c2c;
      width: 90%;
      margin-bottom: 24px; }
    .section4 .col_right .advantages {
      position: relative;
      margin-left: -2px; }
      .section4 .col_right .advantages li {
        opacity: 0;
        float: left;
        width: 87px;
        height: 81px;
        margin: 0;
        padding: 5px 0 0 0;
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0; }
        .section4 .col_right .advantages li .pic {
          height: 76px;
          width: 76px;
          margin: 0 auto;
          background-position: center center;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px; }
        .section4 .col_right .advantages li .desc {
          display: none;
          margin: 0;
          position: absolute;
          top: 86px;
          left: 0;
          background: #fff;
          width: 555px;
          padding: 22px 27px;
          z-index: 10000;
          -webkit-transition: all 0.2s ease-out 0s;
          -moz-transition: all 0.2s ease-out 0s;
          -o-transition: all 0.2s ease-out 0s;
          transition: all 0.2s ease-out 0s;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          color: #474849;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px; }
          .section4 .col_right .advantages li .desc .big {
            font-size: 20px;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
            margin-bottom: 4px; }
        .section4 .col_right .advantages li:hover {
          background: #fff;
          cursor: pointer; }
          .section4 .col_right .advantages li:hover .desc {
            display: block !important; }
      .section4 .col_right .advantages .item_01 {
        -webkit-transition: opacity 0.2s ease-in 0.5s;
        -moz-transition: opacity 0.2s ease-in 0.5s;
        -o-transition: opacity 0.2s ease-in 0.5s;
        transition: opacity 0.2s ease-in 0.5s; }
        .section4 .col_right .advantages .item_01 .pic {
          background-image: url(/ultra/img/s4_03.png); }
      .section4 .col_right .advantages .item_02 {
        -webkit-transition: opacity 0.2s ease-in 0.6s;
        -moz-transition: opacity 0.2s ease-in 0.6s;
        -o-transition: opacity 0.2s ease-in 0.6s;
        transition: opacity 0.2s ease-in 0.6s; }
        .section4 .col_right .advantages .item_02 .pic {
          background-image: url(/ultra/img/s4_04.png); }
      .section4 .col_right .advantages .item_03 {
        -webkit-transition: opacity 0.2s ease-in 0.7s;
        -moz-transition: opacity 0.2s ease-in 0.7s;
        -o-transition: opacity 0.2s ease-in 0.7s;
        transition: opacity 0.2s ease-in 0.7s; }
        .section4 .col_right .advantages .item_03 .pic {
          background-image: url(/ultra/img/s4_05.png); }
      .section4 .col_right .advantages .item_04 {
        -webkit-transition: opacity 0.2s ease-in 0.8s;
        -moz-transition: opacity 0.2s ease-in 0.8s;
        -o-transition: opacity 0.2s ease-in 0.8s;
        transition: opacity 0.2s ease-in 0.8s; }
        .section4 .col_right .advantages .item_04 .pic {
          background-image: url(/ultra/img/s4_06.png); }
      .section4 .col_right .advantages .item_05 {
        -webkit-transition: opacity 0.2s ease-in 0.9s;
        -moz-transition: opacity 0.2s ease-in 0.9s;
        -o-transition: opacity 0.2s ease-in 0.9s;
        transition: opacity 0.2s ease-in 0.9s; }
        .section4 .col_right .advantages .item_05 .pic {
          background-image: url(/ultra/img/s4_07.png); }
      .section4 .col_right .advantages .item_06 {
        -webkit-transition: opacity 0.2s ease-in 1s;
        -moz-transition: opacity 0.2s ease-in 1s;
        -o-transition: opacity 0.2s ease-in 1s;
        transition: opacity 0.2s ease-in 1s; }
        .section4 .col_right .advantages .item_06 .pic {
          background-image: url(/ultra/img/s4_08.png); }
      .section4 .col_right .advantages .item_07 {
        -webkit-transition: opacity 0.2s ease-in 1.1s;
        -moz-transition: opacity 0.2s ease-in 1.1s;
        -o-transition: opacity 0.2s ease-in 1.1s;
        transition: opacity 0.2s ease-in 1.1s; }
        .section4 .col_right .advantages .item_07 .pic {
          background-image: url(/ultra/img/s4_09.png); }

.section4.active .col_left .pic {
  opacity: 1;
  -webkit-transition: all 0.7s ease-in 0.5s;
  -moz-transition: all 0.7s ease-in 0.5s;
  -o-transition: all 0.7s ease-in 0.5s;
  transition: all 0.7s ease-in 0.5s; }
.section4.active .advantages li {
  opacity: 1; }

.section5 {
  position: relative;
  background: url(/ultra/img/section_01_bkg.png) center center repeat; }
  .section5 .content {
    position: relative; }
  .section5 .text {
    width: 495px; }
    .section5 .text .title {
      color: #2c2c2c;
      font-size: 46px;
      line-height: 50px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 20px; }
      .section5 .text .title span {
        color: #009cd5;
        font-size: 46px;
        font-weight: 400;
        line-height: 50px;
        text-align: left; }
  .section5 .filter {
    position: absolute;
    bottom: -400px;
    left: 50%;
    width: 575px;
    height: 652px;
    background-image: url(/ultra/img/s5_01.png);
    -webkit-transition: all 0.4s ease-out 0.3s;
    -moz-transition: all 0.4s ease-out 0.3s;
    -o-transition: all 0.4s ease-out 0.3s;
    transition: all 0.4s ease-out 0.3s;
    opacity: 0; }

.section5.active .filter {
  bottom: -200px;
  opacity: 1; }

.section6 {
  background: #1E283B; }
  .section6 .text {
    position: relative;
    z-index: 900;
    width: 685px;
    margin: 0 auto;
    text-align: center; }
    .section6 .text .title {
      text-transform: uppercase;
      color: #ffffff;
      font-size: 46px;
      line-height: 50px;
      font-weight: 400;
      margin: 0 0 40px 0; }
      .section6 .text .title span {
        color: #1EA6D8; }
    .section6 .text p {
      color: #ffffff; }
    .section6 .text .more {
      background: url(/ultra/img/more_w.png) center top no-repeat;
      width: 67px;
      height: 38px;
      margin: 50px auto 0 auto; }
      .section6 .text .more:before {
        width: 67px;
        height: 38px; }
  .section6 .bg {
    position: absolute;
    left: 50%;
    margin-left: -567px;
    bottom: -322px;
    width: 1134px;
    height: 322px;
    opacity: 0;
    background: url(/ultra/img/s6_01.jpg) center top no-repeat;
    -webkit-transition: bottom 1s ease-in 0s, opacity 0 ease-in 0.4s;
    -moz-transition: bottom 1s ease-in 0s, opacity 0 ease-in 0.4s;
    -o-transition: bottom 1s ease-in 0s, opacity 0 ease-in 0.4s;
    transition: bottom 1s ease-in 0s, opacity 0 ease-in 0.4s; }

.section6.active .bg {
  bottom: 0;
  opacity: 1;
  -webkit-transition: bottom 0.6s ease-in 0.5s;
  -moz-transition: bottom 0.6s ease-in 0.5s;
  -o-transition: bottom 0.6s ease-in 0.5s;
  transition: bottom 0.6s ease-in 0.5s; }

.section7 {
  background: #E4EAF1; }
  .section7 .col_left {
    width: 48%;
    float: left;
    text-align: right;
    color: #2c2c2c;
    font-size: 46px;
    font-weight: 400;
    line-height: 50px;
    text-align: right;
    margin-right: 4%;
    text-transform: uppercase; }
    .section7 .col_left span {
      color: #1EA6D8; }
  .section7 .col_right {
    width: 48%;
    float: left;
    text-align: left !important;
    color: #2c2c2c;
    font-size: 46px;
    font-weight: 400;
    line-height: 50px;
    margin: 3px 0 0 0; }
    .section7 .col_right p {
      width: 90%; }
  .section7 .pics {
    max-width: 1070px;
    min-width: 960px;
    margin: 20px auto 0 auto;
    height: 488px; }
    .section7 .pics div {
      float: left;
      height: 488px;
      opacity: 0; }
    .section7 .pics .pic_01 {
      -webkit-transition: opacity 0.5s ease-out 0.3s;
      -moz-transition: opacity 0.5s ease-out 0.3s;
      -o-transition: opacity 0.5s ease-out 0.3s;
      transition: opacity 0.5s ease-out 0.3s;
      width: 38%;
      background: url(/ultra/img/s7_01.png) right center no-repeat; }
    .section7 .pics .pic_02 {
      width: 24%;
      background: url(/ultra/img/s7_02.png) center center no-repeat;
      -webkit-transition: opacity 0.5s ease-out 0.6s;
      -moz-transition: opacity 0.5s ease-out 0.6s;
      -o-transition: opacity 0.5s ease-out 0.6s;
      transition: opacity 0.5s ease-out 0.6s; }
    .section7 .pics .pic_03 {
      width: 38%;
      background: url(/ultra/img/s7_03.png) left center no-repeat;
      -webkit-background-size: auto 100%;
      background-size: auto 100%;
      -webkit-transition: opacity 0.5s ease-out 0.9s;
      -moz-transition: opacity 0.5s ease-out 0.9s;
      -o-transition: opacity 0.5s ease-out 0.9s;
      transition: opacity 0.5s ease-out 0.9s; }

.section7.active .pics div {
  opacity: 1; }

.section8 {
  background: #F1FAFF; }
  .section8 .col_left {
    padding-bottom: 150px;
    width: 48%;
    float: left;
    color: #2c2c2c;
    margin-right: 4%; }
    .section8 .col_left .pic {
      float: right;
      width: 492px;
      height: 291px;
      background: url(/ultra/img/s8_01.png) center center no-repeat; }
  .section8 .col_right {
    width: 48%;
    float: left;
    text-align: left !important;
    color: #2c2c2c;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin: 0 0 0 0; }
  .section8 .footer_wrapper {
    position: absolute;
    bottom: -150px;
    left: auto;
    min-width: 980px;
    background: #fff;
    width: 100%;
    -webkit-transition: bottom 0.8s ease-out 0.3s;
    -moz-transition: bottom 0.8s ease-out 0.3s;
    -o-transition: bottom 0.8s ease-out 0.3s;
    transition: bottom 0.8s ease-out 0.3s; }
    .section8 .footer_wrapper footer {
      position: relative;
      height: 150px;
      max-width: 1280px;
      min-width: 980px;
      width: 100%;
      margin: 0 auto; }
      .section8 .footer_wrapper footer .copyright {
        position: absolute;
        left: 10px;
        top: 25px;
        text-align: left;
        color: #4b4b4b;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400; }
        .section8 .footer_wrapper footer .copyright p {
          margin-bottom: 14px; }
        .section8 .footer_wrapper footer .copyright a {
          color: #1EA6D8;
          text-decoration: none; }
      .section8 .footer_wrapper footer .contacts {
        position: absolute;
        right: 10px;
        top: 40px;
        color: #4b4b4b;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left; }
        .section8 .footer_wrapper footer .contacts span {
          color: #1EA6D8; }
        .section8 .footer_wrapper footer .contacts .phone {
          color: #4b4b4b;
          font-size: 29px;
          font-weight: 400;
          line-height: 42px;
          text-align: left; }
      .section8 .footer_wrapper footer .social {
        position: absolute;
        top: 55px;
        left: 50%;
        margin-left: -65px; }
        .section8 .footer_wrapper footer .social li {
          display: inline-block;
          height: 30px;
          width: 30px; }
          .section8 .footer_wrapper footer .social li a {
            display: inline-block;
            height: 30px;
            width: 30px;
            background-image: url(/ultra/img/footer_social_sprite.png); }
          .section8 .footer_wrapper footer .social li .vk {
            background-position: 0 0; }
          .section8 .footer_wrapper footer .social li .fb {
            background-position: -30px 0; }
          .section8 .footer_wrapper footer .social li .tw {
            background-position: -60px 0; }
          .section8 .footer_wrapper footer .social li .ok {
            background-position: -90px 0; }

.section8.active .footer_wrapper {
  bottom: 0; }

.subsection {
  display: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #003D7B url(/ultra/img/subsection_bkg.png) center center repeat; }
  .subsection p small {
    display: block;
    line-height: 18px; }
  .subsection ul {
    width: 80%;
    margin: 20px auto; }
    .subsection ul li {
      position: relative;
      text-align: left;
      padding: 0 0 0 20px; }
      .subsection ul li:before {
        display: block;
        content: "-";
        position: absolute;
        left: 0px;
        top: 2px; }
  .subsection .table_block {
    display: table;
    height: 100%;
    width: 100%; }
    .subsection .table_block .table_cell {
      display: table-cell;
      color: #fff;
      vertical-align: middle;
      text-align: center;
      height: 100%;
      width: 100%; }
      .subsection .table_block .table_cell .content {
        width: 980px;
        margin: 0 auto;
        font-size: 18px; }
        .subsection .table_block .table_cell .content p {
          padding: 0 30px;
          margin: 0 0 20px 0; }
          .subsection .table_block .table_cell .content p + table {
            margin-top: 30px; }
        .subsection .table_block .table_cell .content table {
          width: 80%;
          outline: 2px solid rgba(255, 255, 255, 0.5);
          margin: 0 auto 30px auto; }
          .subsection .table_block .table_cell .content table tr td {
            outline: 1px solid rgba(255, 255, 255, 0.3);
            text-align: left;
            padding: 6px 10px; }
            .subsection .table_block .table_cell .content table tr td + td {
              text-align: center; }

.subsection_1 {
  display: block; }
  .subsection_1 .content {
    display: none; }
    .subsection_1 .content.selected {
      display: block; }

main {
  padding: 20px 0; }
  main p {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 10px 0;
    padding: 0; }

nav.bottom_menu {
  height: 25px; }
  nav.bottom_menu ul li {
    float: left; }
    nav.bottom_menu ul li a {
      display: block;
      padding: 3px 10px;
      margin: 0; }

footer {
  height: 110px; }
  footer .copyright_company {
    position: absolute;
    top: 40px;
    left: 0;
    width: 200px;
    font-size: 12px;
    line-height: 14px; }
    footer .copyright_company .logo {
      background: url(/ultra/img/footer_company_logo.png);
      display: block;
      float: left;
      width: 25px;
      height: 27px;
      margin: 0 10px 0 0; }
    footer .copyright_company a {
      color: #565656;
      text-decoration: none; }
  footer .copyright_pixel {
    position: absolute;
    top: 40px;
    right: 0;
    width: 200px;
    text-align: right;
    font-size: 12px;
    line-height: 14px; }
    footer .copyright_pixel .logo {
      background: url(/ultra/img/footer_pixelstar_logo.png);
      display: block;
      float: right;
      width: 25px;
      height: 27px;
      margin: 0 0 0 10px; }
    footer .copyright_pixel a {
      color: #565656;
      text-decoration: none; }

/**SLIDER* */
.jcarousel-wrapper {
  margin: 20px auto;
  position: relative;
  border: 10px solid #fff;
  width: 600px;
  height: 400px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999; }
  .jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66; }
    .jcarousel-wrapper .photo-credits a {
      color: #fff; }

/** Carousel * */
.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0; }
  .jcarousel li {
    float: left;
    width: 100%; }
    .jcarousel li a {
      display: block;
      height: 400px;
      width: 100%;
      background-position: center center;
      background-repeat: repeat-x; }

/** Carousel Controls * */
.jcarousel-prev, .jcarousel-next {
  position: absolute;
  top: 180px;
  width: 32px;
  height: 32px; }

.jcarousel-prev {
  left: 50px;
  background: url(/ultra/img/slider_prev.png); }

.jcarousel-next {
  right: 50px;
  background: url(/ultra/img/slider_next.png); }

.jcarousel-prev:hover span, .jcarousel-next:hover span {
  display: block; }

.jcarousel-prev.inactive, .jcarousel-next.inactive {
  opacity: .5;
  cursor: default; }

/** Carousel Pagination * */
.jcarousel-pagination {
  position: absolute;
  bottom: 0;
  left: 15px; }
  .jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    margin-right: 2px;
    opacity: .75; }
    .jcarousel-pagination a.active {
      background: #4E443C;
      color: #fff;
      opacity: 1;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75); }

/* ==========================================================================
 * Helper classes
 * ========================================================================== */
/*
 * Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
/*
 * Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *		`contenteditable` attribute is included anywhere else in the document.
 *		Otherwise it causes space to appear at the top and bottom of elements
 *		that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *		`:before` to contain the top-margins of child elements. */
.clearfix {
  *zoom: 1; }
  .clearfix:before {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
    clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats. */
/* ==========================================================================
 * EXAMPLE Media Queries for Responsive Design.
 * These examples override the primary ('mobile first') styles.
 * Modify as content requires.
 * ========================================================================== */
/* ==========================================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r
 * ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
	 * Don't show links for images, or javascript/internal links */
  .ir a:after {
    content: ""; }
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr {
    page-break-inside: avoid; }
  img {
    page-break-inside: avoid;
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

@media screen and (max-width: 1600px) {
  .section1 .content .text .filter_ultra, .section1 .content .text .filter_nabor {
    -webkit-background-size: 100%;
    background-size: 100%; }
  .section1 .content .text .filter_ultra {
    bottom: -70px !important;
    width: 300px;
    height: 575px;
    margin-left: 150px; }
  .section1 .content .text .filter_nabor {
    bottom: -70px !important;
    width: 520px;
    height: 587px;
    margin-left: 50px; }
  /*
		.subsection
			.table_block
				.table_cell
					.content
						padding: 40px 0 0 0
						width: 980px
						margin: 0 auto
						font-size: 15px
						table
							tr
								td
									padding: 3px 15px */
  .section3 {
    -webkit-background-size: 1000px auto;
    background-size: 1000px auto; }
    .section3 .text_01 {
      top: 280px;
      margin-left: -500px; }
      .section3 .text_01 p {
        font-size: 20px;
        line-height: 24px; }
    .section3 .text_02 {
      top: 40px;
      font-size: 30px;
      line-height: 36px;
      margin-left: 100px; }
  .section4 .col_right .advantages {
    width: 455px; }
    .section4 .col_right .advantages li {
      padding: 4px 0;
      width: 65px;
      height: auto; }
      .section4 .col_right .advantages li .pic {
        width: 58px;
        height: 58px;
        -webkit-background-size: 100%;
        background-size: 100%; }
      .section4 .col_right .advantages li .desc {
        top: 66px;
        width: 398px; }
  .section4 .col_right p {
    width: 95%; }
  .section4 .col_left .pic {
    height: 600px;
    width: 358px;
    background-size: 100% !important;
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-background-size: 100% !important;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s; }
  .section6 .more {
    margin-bottom: 200px !important; }
  .section7 .pics {
    height: 300px;
    width: 900px; }
    .section7 .pics div {
      height: 300px;
      -webkit-background-size: auto 300px !important;
      background-size: auto 300px !important; }
    .section7 .pics .pic_01 {
      width: 45%; }
    .section7 .pics .pic_02 {
      width: 10%; }
    .section7 .pics .pic_03 {
      width: 45%; } }

@media screen and (max-width: 1100px) {
  .section1 .content .text .title {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 20px; }
  .section1 .content .text .filter_ultra, .section1 .content .text .filter_nabor {
    -webkit-background-size: 100%;
    background-size: 100%; }
  .section1 .content .text .filter_ultra {
    bottom: -110px !important;
    margin-left: 100px;
    width: 340px;
    height: 653px; }
  .section1 .content .text .filter_nabor {
    bottom: -250px;
    width: 550px;
    height: 620px; }
  .section1.active .filter_ultra {
    bottom: -300px !important; }
  .section1.active .filter_nabor {
    bottom: -150px !important; }
  .section6 .more {
    margin-bottom: 100px !important; }
  .section6 .bg {
    height: 240px;
    width: 845px;
    margin-left: -422px;
    -webkit-background-size: 100%;
    background-size: 100%; }
  .section3 {
    -webkit-background-size: 100%;
    background-size: 100%; }
    .section3 .text_01 {
      top: 280px;
      margin-left: -500px; }
      .section3 .text_01 p {
        font-size: 20px;
        line-height: 24px; }
    .section3 .text_02 {
      top: 40px;
      font-size: 30px;
      line-height: 36px;
      margin-left: 90px; } }

/*# sourceMappingURL=main.css.map */